# Licensed under the Apache-2.0 license

[package]
name = "emulator-run"
version.workspace = true
authors.workspace = true
edition.workspace = true
publish = false

[dependencies]
anyhow = "1"
defmt-decoder = "1.0"
